.width-100{
  width:100%;
}

.logo{
  width:50% !important;
  position:relative;
  float:right;
  animation-delay: .5s;
  animation-name: checkRotation;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  margin-bottom: 100%;
}

.wrong_border{
  border:2px solid red !important;
}

.codex-input{
  background:#1F1F1F;
  border:1px solid #e6e6e6;
  color:white !important;
  box-shadow:none;

}

@keyframes checkRotation {
  0%{
    transform:rotate(0deg);
  }
  50%{
    transform:rotate(20deg);
  }
  100%{
    transform:rotate(0deg);
  }
}

@keyframes submitButtonAni {
  from {
    background:#1F1F1F ;
    color:white;
    border-color:#1F1F1F ;
  }
  to{
    background:white ;
    color:#1F1F1F;
    border-color:white ;
  }
}


@keyframes upside-nav-animation{
  from{
    position:absolute;
    top:40%;

  }

  to{
    top:0%;
    background:black;
  }
}







@keyframes title_fade{
  from{
    opacity:0%;

  }

  to{
    opacity:100%;
  }
}





.upside-title{
  animation:title_fade .5s 1 ease-in;
  position:absolute;
  top:4%;
  left:2%;
  font-size:25px;
  z-index:99;
  animation-delay: 2;
  font-family:cursive;
  color:#7ED957;

}



.title{
  position:absolute;
  top:5%;
  width:100%;
}



.active{
  background:#7ED957 !important;
  color: white !important;
}



.navbar {
  position:absolute;
  width:100%;
  top:40%;
  padding:0;
  height:90px !important;
}

.upside-navbar{
  position:absolute;
  animation: upside-nav-animation .5s ease-in 1;
  background:black;

  top:0%;
  width:100%;
}













.codex-input:focus{
  outline:none !important;
  border-color:green;
  border-width:2px;
  background:#1F1F1F;
}
.submit-button:hover{
  background:white;
  color:#1F1F1F !important;
  border-color:white;
  animation: 1 ease-in submitButtonAni .5s;
}
.submit-button{
  background:#1F1F1F;
  color:white;
  border-color:#1F1F1F;
}
.submit-button:hover{
  color:white;

}
.form-control:focus{
  outline:none !important;
  background:#1F1F1F;
}
.title{
  font-family: cursive;
  color:#7ED957;
  text-align: center !important;
  display: flex;
  width:100%;
  justify-content: center;
  font-size:70px;
  margin-top:10%;
}
.margin-left-10{
  margin-left:10%;
}
.margin-left-5{
  margin-left:5%;
}


.black-geometry{
  background:url("./../img/dark_geometric.png");
}


















.youtube_container{
  width:100%;
  height:100%;
  margin-top:1%;
}

.codepen_editor{
  width:100%;
  height:300px;
}




.youtube_video{
  height:500px !important;
  padding:0;
  margin:0;
  width:100% !important;
}


.sidebar_button{
  width:50%;
  margin-left:25%;

}
.sidebar_button_right{
  transform:rotate(180deg);

}
.left_arrow:hover > p{

font-weight: bold;
}
.right_arrow:hover > p{

font-weight: bold;
}
.arrow{
  position:absolute;
  top:35%;
  width:10%;
}
.side_bar_text{
  color:#7ED957;
  text-align:center;
  font-size: 16px;
  font-family: monospace;
}

.left_arrow{
  left:2.5% !important;
}
.right_arrow{
  right:2.5% !important;
}












.sidebar-container{
  width:100%;

}
.sidebar{
  position:fixed;
  top:0;
  height:100%;
  z-index:999;
  width:0px;
  background: #F5F5F5;

}
.sidebar-heading{
  color:white !important;
  font-family: monospace;
  font-size:20px;
  text-align: center !important;
}
.sidebar-container-heading{
  background:black !important;
  width:100%;
  padding:5%;

}
.search-tab{
  width:10%;
  text-align:center;
  background:#f5f5f5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.tabs-container{
  visibility: hidden;
  margin-top:15%;
}
.visible{
  visibility: visible !important;
}
#myTabs{
  border-bottom:1px solid white;

  width:100%;
}
.available{
    width:40px;
}

@keyframes active-sidebar{
  0%{
    width:0px;
  }
  100%{
    width:200px;
  }
}

@keyframes nonactive-sidebar{
  0%{
    width:200px;
  }
  100%{
    width:0px;
  }
}

.nonactive-sidebar-transition{
  animation: nonactive-sidebar .5s 1 ease-in;
  width:0px;

}



.active-sidebar{
  animation: active-sidebar .5s 1 ease-in;
  width:200px;

}
.active-sidebar > .sidebar-text{
  opacity:1;
  color:black;
}
.sidebar-left{
  left:0;
}
.sidebar-right{
  right:0;
}
