

.upside-title{
  animation:title_fade .5s 1 ease-in;
  top:2%;
  left:2%;
  font-size:40px;
  animation-delay: 2;
}


.search-row{
  margin-top:1.5%;
}

.navbar {
  position:absolute;
  width:100%;
  top:40%;
  padding:0;
  height:90px !important;
}

.upside-navbar{
  position:absolute;
  animation: upside-nav-animation .5s ease-in 1;
  background:black;
  top:0%;
  width:100%;
}
